$primary-color: #605bff;
$secondary-color: #fff;
$text-color: #858585;
$accent-color: #605bff;

$google-container-bg: $secondary-color;
$apple-container-bg: $secondary-color;
$do-not-account-color: $primary-color;
$ellipse-logo-bg: $primary-color;
$social-logo-color: $accent-color;